<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :food_item_id, value: order.food_item_id %>
  <div class="field form-group">
    <%= f.label :user_name, class: "control-label" %>
    <%= f.text_field :user_name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :phone, class: "control-label" %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :coupon, class: "control-label" %>
    <%= f.text_field :coupon, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :address, class: "control-label" %>
    <%= f.text_area :address, class: "form-control" %>
  </div>


  <div class="actions form-group">
    <%= f.submit class: "btn btn-success green" %>
  </div>
<% end %>
