<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @order.user_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Food item:</strong>
  <%= @order.food_item.name %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
