<div class="alert alert-success" role="alert">
<% if notice %>
  <strong>Thank you!</strong> <%= notice %>
  <% end  %>
</div>

<p>
  <strong>User name:</strong>
  <%= @order.user_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Food item:</strong>
  <%= @order.food_item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.food_item.price %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @order.discount * 100 %>%
</p>

<p>
  <strong>Shipping:</strong> 20$
</p>


<p>
  <strong>Total cost:</strong>
  <%= fa_stacked_icon "dollar inverse", base: "circle", class: "fa-5x", text: @order.food_item.price * (1 - @order.discount) + 20 %>
</p>

<p>
  <strong>Time of order:</strong>
  <%= @order.created_at %> 
</p>

<%= link_to 'Back', menu_path(section: @order.food_item.section.name), class: "btn btn-outline-primary" %>
